.board{
	height: 80%;
	width: 50%;
	height: 50%;
	display: inline-block;
}
.card{
	height: 200px;
	width: 150px;
	border-width: 1px;
	background-color: yellow;
	border-radius: 10px;
	border-color: black;
	border-style: solid;
	float: left;
	margin: 8%;
}
h1, h2, p {
	text-align: center;
}
h1 {
	color: rgb(2, 132, 130);
}
h2 {
	color: #ffd700;
}
.name {
	color: #ff0000;
}
a {
	text-decoration: none;
	display: block;
	padding: 35px;
	float: left;
	color: white;
	background-color: #ffbf00;
}
nav {
	background-color: #808080;
}
a:hover {
	color: #ee5f3c;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }
footer {
	background-color: #808080;
}